.loginBox {
    width: 95%;
    max-width: 551px;
    min-height: 701px;
    
    background-color: #F9F9F9;
    border: 1px solid #913E3E;
    border-radius: 20px;
    
    margin: 20px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
}

.divider {
    width: 100%;
    border: 0;
    border-top: 1px solid #333;
    margin: 15px 0;
}

.signup-text {
    font-size: 16px;
    margin-bottom: 30px;
}

.signup-link {
    color: #4A90E2;
    cursor: pointer;
}


.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.input-bar-label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
}

.input-bar-input {
    width: 100%;
    height: 55px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    padding: 0 15px;
    box-sizing: border-box;
}


.login-button {
    margin-top: 30px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 20px;
    padding: 10px 45px;
    font-size: 18px;
    cursor: pointer;
}

.social-section {
    width: 100%;
    margin-top: auto;
    text-align: left;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;
}

.icon-wrapper {
    flex: 1;
    height: 90px;
    width: 90px;
    border: 1px solid #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4px;
}

.icon-wrapper img {
    width: 88px;
    height: 88px;
    object-fit: contain;
}